

{% load static %}

{% include "nav.html" %}
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="{% static 'css/password-reset.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/font-awesome.css' %}" rel='stylesheet' type='text/css'/>
<link href="{% static 'css/orders.css' %}" rel='stylesheet' type='text/css'/>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<script type="text/javascript">
  $(document).ready(function() {
  $(".toggle-password").click(function() {

  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = $($(this).attr("toggle"));
  if (input.attr("type") == "password") {
    input.attr("type", "text");
  } else {
    input.attr("type", "password");
  }
  });

});
</script>
<script>
	  function checkPassword(form) { 
                password1 = form.id_new_password1.value; 
				password2 = form.id_new_password2.value; 
				if (password1 == '') 
                    alert ("Please enter Password"); 
                      
                // If confirm password not entered 
                else if (password2 == '') 
                    alert ("Please enter confirm password"); 
                      
                // If Not same return False.     
                else if (password1 != password2) { 
                    alert ("\nPassword did not match: Please try again...") 
                    return false; 
                } 
			}
	$(document).ready(function() {
	var myInput = document.getElementById("id_new_password1");
	var letter = document.getElementById("letter");
	var capital = document.getElementById("capital");
	var number = document.getElementById("number");
	var length = document.getElementById("length");
	
	// When the user clicks on the password field, show the message box
	myInput.onfocus = function() {
	  document.getElementById("message").style.display = "block";
	}
	
	// When the user clicks outside of the password field, hide the message box
	myInput.onblur = function() {
	  document.getElementById("message").style.display = "none";
	}
	
	// When the user starts to type something inside the password field
	myInput.onkeyup = function() {
	  // Validate lowercase letters
	  var lowerCaseLetters = /[a-z]/g;
	  if(myInput.value.match(lowerCaseLetters)) {  
		letter.classList.remove("invalid");
		letter.classList.add("valid");
	  } else {
		letter.classList.remove("valid");
		letter.classList.add("invalid");
	  }
	  
	  // Validate capital letters
	  var upperCaseLetters = /[A-Z]/g;
	  if(myInput.value.match(upperCaseLetters)) {  
		capital.classList.remove("invalid");
		capital.classList.add("valid");
	  } else {
		capital.classList.remove("valid");
		capital.classList.add("invalid");
	  }
	
	  // Validate numbers
	  var numbers = /[0-9]/g;
	  if(myInput.value.match(numbers)) {  
		number.classList.remove("invalid");
		number.classList.add("valid");
	  } else {
		number.classList.remove("valid");
		number.classList.add("invalid");
	  }
	  
	  // Validate length
	  if(myInput.value.length >= 8) {
		length.classList.remove("invalid");
		length.classList.add("valid");
	  } else {
		length.classList.remove("valid");
		length.classList.add("invalid");
	  }
	}
});


</script>

<div class="form-gap"></div>
<div class="container">
<div class='row'>
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
	
			<h3>Change password</h3>
			<form method="post" onsubmit="return checkPassword(this)">{% csrf_token %}
				<!-- <input type="hidden" name="csrfmiddlewaretoken" value="bzzmRjxAd5qsI12m36afkkCvmZYVXKeArz2e04TEPl0kNtn4mZvXV9u6EKIDS8TY"> -->
				<strong> New Password:</strong>
				<!-- <p><label for="id_new_password1">New password!:</label> -->
					<!-- <input type="password" name="new_password1"  required="" id="id_new_password1"   placeholder="Enter new password" class="form-control"><br/> -->
					 <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Enter new password"><br/>
					 <span toggle="#id_new_password1" class="fa fa-2x fa-eye icon field-icon toggle-password"></span>
					  <!-- <span class="helptext"></span></p> -->
					<div id="message">
						<li style="color:red">Please,satisfy all the below conditions to reset your password properly!! </li><br/>
					 	<ul><li>Your password can't be too similar to your other personal information.</li>
						<li>Your password must contain at least 8 characters.</li>
						<li>Your password can't be a commonly used password.</li>
						<li>Your password can't be entirely numeric.</li></ul>
						<!-- <ul class="errorlist"><li>This field is required.</li></ul> -->
					</div>
						<!-- <p><label for="id_new_password2">New password confirmation:</label> -->
							<strong> New Password:</strong>
							<!-- <input type="password"  name="id_new_password2" required="" id="id_new_password2"  placeholder="Enter the password again" class="form-control"><br/> -->
						 <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Enter the password again"><br/>
						 <span toggle="#id_new_password2" class="fa fa-2x fa-eye icon field-icon toggle-password"></span>
				<button type="submit" class='btn btn-block btn-info'>Change password</button>
			  </form>
		 
	
		
      </div>
      </div>
      </div>
      </div>

</div>
</div>


