<!--doctype html-->
<html>
<head>
<meta charset="utf-8">
<title>Product-slider</title>
<!--Adding Links  -->
<link  rel="stylesheet" href="{% static 'css/swiper.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/style1.css' %}"/>

</head>
<body>
<!--slider 1 bags------------------------------------------>
<div class="heading">
<h1>F E A T U R E D &emsp; P R O D U C T S</h1>
</div>
<!--swiper slider-->
<div class="swiper-container">
    <div class="swiper-wrapper">
    <!--slide 1-------------------------------------->
      <div class="swiper-slide">
      <div class="slider-box">
<p class="time">New</p>
<div class="img-box">
<img src="{% static 'images/car.jpg' %}">
</div>
<p class="detail">Black ladies bags collections
<a href="#" class="price">Price-40$</a>
</p>
<div class="cart">
<a href="#">Add To Cart</a>
</div>
</div>
      
      </div>
      
      
      
      <!--slide 2-------------------------------------->
      <div class="swiper-slide">
      <div class="slider-box">
<p class="time">New</p>
<div class="img-box">
<img src="{% static 'images/car.jpg' %}">
</div>
<p class="detail">Black ladies bags collections
<a href="#" class="price">Price-40$</a>
</p>
<div class="cart">
<a href="#">Add To Cart</a>
</div>
</div>
      
      </div>
      
      
      
      
      <!--slide 3-------------------------------------->
      <div class="swiper-slide">
      <div class="slider-box">
<p class="time">New</p>
<div class="img-box">
<img src="{% static 'images/car.jpg' %}">
</div>
<p class="detail">Black ladies bags collections
<a href="#" class="price">Price-40$</a>
</p>
<div class="cart">
<a href="#">Add To Cart</a>
</div>
</div>
      
      </div>
      
      
      
      
      <!--slide 4-------------------------------------->
      <div class="swiper-slide">
      <div class="slider-box">
<p class="time">New</p>
<div class="img-box">
<img src="{% static 'images/car.jpg' %}">
</div>
<p class="detail">Black ladies bags collections
<a href="#" class="price">Price-40$</a>
</p>
<div class="cart">
<a href="#">Add To Cart</a>
</div>
</div>
      
      </div>
      
      
      
      <!--slide 5-------------------------------------->
      <div class="swiper-slide">
      <div class="slider-box">
<p class="time">New</p>
<div class="img-box">
<img src="{% static 'images/car.jpg' %}">
</div>
<p class="detail">Black ladies bags collections
<a href="#" class="price">Price-40$</a>
</p>
<div class="cart">
<a href="#">Add To Cart</a>
</div>
</div>
      
      </div>
      
      
      
      
      <!--slide 6-------------------------------------->
      <div class="swiper-slide">
      <div class="slider-box">
<p class="time">New</p>
<div class="img-box">
<img src="{% static 'images/car.jpg' %}">
</div>
<p class="detail">Black ladies bags collections
<a href="#" class="price">Price-40$</a>
</p>
<div class="cart">
<a href="#">Add To Cart</a>
</div>
</div>
      
      </div>
      
      
      
      
      
      
      
      <!--slide 7-------------------------------------->
      <div class="swiper-slide">
      <div class="slider-box">
<p class="time">New</p>
<div class="img-box">
<img src="{% static 'images/car.jpg' %}">
</div>
<p class="detail">Black ladies bags collections
<a href="#" class="price">Price-40$</a>
</p>
<div class="cart">
<a href="#">Add To Cart</a>
</div>
</div>
      
      </div>
      
      
      
      
      <!--slide 8-------------------------------------->
      <div class="swiper-slide">
      <div class="slider-box">
<p class="time">New</p>
<div class="img-box">
<img src="{% static 'images/car.jpg' %}">
</div>
<p class="detail">Black ladies bags collections
<a href="#" class="price">Price-40$</a>
</p>
<div class="cart">
<a href="#">Add To Cart</a>
</div>
</div>
      
      </div>
    
      
</div>
</div>
<!--swiper  slider end-->
<script type="text/javascript" src="js/swiper.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>

 
