{% include "nav.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <p><br><br>
            <center><b>MM Enduro Privacy Policy</b></center><br><br>

This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from https://mmenduro.com/.<br><br>

<b>PERSONAL INFORMATION WE COLLECT</b><br>

When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. 
Additionally, as you browse the Site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site. We refer to this automatically-collected information as “Device Information.”<br>

We collect Device Information using the following technologies:<br>
<ul>
    <li> “Cookies” are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit http://www.allaboutcookies.org.</li>
    <li> “Log files” track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.</li>
    <li> “Web beacons,” “tags,” and “pixels” are electronic files used to record information about how you browse the Site.</li>
    </ul>
    

Additionally when you make a purchase or attempt to make a purchase through the Site, we collect certain information from you, including your name, billing address, shipping address, payment information (including credit card numbers, email address, and phone number.  We refer to this information as “Order Information.”<br><br>

<b>PRIVACY</b><br>

When we talk about “Personal Information” in this Privacy Policy, we are talking both about Device Information and Order Information.<br>
Certain areas of this Website are restricted from being access by you and MM ENDURO may further restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well.
Your Content must be your own and must not be invading any third-party’s rights. MM ENDURO reserves the right to remove any of Your Content from this Website at any time without notice.
The data store in here fully safe and secured so that other than user no one can use it <br><br>

<b>MINORS</b><br>
The Site can be used by anyone of any page .<br><br>

<b>CHANGES</b><br>
We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.<br><br>

<b>CONTACT US</b><br>
For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at sanjaysan648@gmail.com or by mail using the details provided below:

  4a New Secretariat Colony , 2nd Street, Chennai, TN, 600042, India<br><br>
        </p>
    </div>
    {% include "footer.html" %}
</body>
</html>