.form-gap {
    padding-top: 70px;
}

.field-icon {
    float: right;
    margin-left: -50px;
    margin-top: -50px;
    position: relative;
    z-index: 2;
  
  }
.row{
    margin-right: -15px;
    
}

/* #message {
display: none;
    background: transparent;
    color: #000;
    position: relative;
    padding: 10px;
    margin-top: 5px;
} */

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1.50rem;
    line-height: 1.5;
    /* color: #495057; */
    /* background-color: #fff; */
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.form-control, textarea {
    display: block;
    max-width: 170rem;
    background-color: #fff;
    color: #495057;
    letter-spacing: 1px;
  }
  .form-horizontal {
    float: left;
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  @media screen and (max-width: 760px) {
    .direct-contact-container, .form-horizontal {
        float: none;
        margin: 10px auto;
      }  
    }
    @media screen and (max-width: 569px) {
        .form-horizontal > .form-control, textarea {
            max-width: 340px;
            margin: 0 auto;
          }
        }