
@import url("https://fonts.googleapis.com/css?family=Cinzel");
.post-slider .slider-title{
	text-align: center;
	margin: 30px auto;
}
/* .slick-arrow.slick-hidden {
    display: none;
} */


 #button { 
	display: inline-block;
	background-color: #FF9800;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, 
	  opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
  }
  #button::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	/* color: #fff; */
  }
  #button:hover {
	cursor: pointer;
	background-color: #333;
  }
  #button:active {
	background-color: #555;
  }
  #button.show {
	opacity: 1;
	visibility: visible;
  } 
  
  /* Styles for the content section */
  

  
  .content {
	width: 77%;
	margin: 50px auto;
	font-family: 'Merriweather', serif;
	font-size: 17px;
	color: #6c767a;
	line-height: 1.9;
  }
  @media (min-width: 500px) {
	.content {
	  width: 43%;
	}
	#button {
	  margin: 30px;
	}
  }
  .content h1 {
	margin-bottom: -10px;
	color: #03a9f4;
	line-height: 1.5;
  }
  .content h3 {
	font-style: italic;
	color: #96a2a7;
  }

.bike-parts {
    float: right;
    width: 104%;
}

.post-slider .next1{
	position: absolute;
	top: 65%;
	right: 30px;
	font-size:3rem;
	color:#000;
	cursor:pointer;
}
@media (max-width: 640px){
 .post-slider .next1{
	 opacity: 0;
	position: absolute;
	top: 65%;
	right: 0;
	font-size:3rem;
	color:#000;
	cursor:pointer;
}
}
@media (max-width: 768px){
	.post-slider .next1{
	   position: absolute;
	   top: 85%;
	   right: 0;
	   font-size:3rem;
	   color:#000;
	   cursor:pointer;
   }
   }
@media (max-width: 1260px){
	.post-slider .next1{
	   position: absolute;
	   top: 93%;
	   right: 0;
	   font-size:3rem;
	   color:#000;
	   cursor:pointer;
   }
   }

.post-slider .prev1{
	position: absolute;
	top: 65%;
	left: 30px;
	font-size:3rem;
	color:#000;
	cursor:pointer;
} 
@media (max-width: 640px){
.post-slider .prev1{
	opacity:0;
	position: absolute;
	top: 65%;
	left: 0;
	font-size:3rem;
	color:#000;
	cursor:pointer;
} 
}
@media (max-width: 768px){
	.post-slider .prev1{
		position: absolute;
		top: 85%;
		left: 0;
		font-size:3rem;
		color:#000;
		cursor:pointer;
	} 
	}
	@media (max-width: 1260px){
		.post-slider .prev1{
			position: absolute;
			top: 93%;
			left: 0;
			font-size:3rem;
			color:#000;
			cursor:pointer;
		} 
		}
 .post-slider .next2{
	position: absolute;

	top: 120%;
	right: 30px;
	font-size:3rem;
	color:#000;
	cursor:pointer;
}
@media (max-width: 640px){
.post-slider .next2{
	position: absolute;
	opacity:0;

	top: 161%;
	right: 0;
	font-size:3rem;
	color:#000;
	cursor:pointer;
}
}
@media (max-width: 768px){
	.post-slider .next2{
		position: absolute;
	
		top: 178%;
		right: 0;
		font-size:3rem;
		color:#000;
		cursor:pointer;
	}
	}
@media (max-width: 1260px){
		.post-slider .next2{
			position: absolute;
		
			top: 174%;
			right: 0;
			font-size:3rem;
			color:#000;
			cursor:pointer;
		}
		}

.post-slider .prev2{
	position: absolute;

	top: 120%;
	left: 30px;
	font-size:3rem;
	color:#000;
	cursor:pointer;
}
@media (max-width: 640px){
.post-slider .prev2{
	position: absolute;
	/* opacity:0; */
	visibility: hidden;

	top: 161%;
	left: 0;
	font-size:3rem;
	color:#000;
	cursor:pointer;
}
}
@media (max-width: 768px){
	.post-slider .prev2{
		position: absolute;
	
		top: 178%;
		left: 0;
		font-size:3rem;
		color:#000;
		cursor:pointer;
	}
	}
	@media (max-width: 1260px){
		.post-slider .prev2{
			position: absolute;
		
			top: 174%;
			left: 0;
			font-size:3rem;
			color:#000;
			cursor:pointer;
		}
		}

.post-slider .next3{
	position: absolute;
	top: 185%;
	right: 30px;
	font-size:3rem;
	color:#000;
	cursor:pointer;
}
@media (max-width: 640px){
.post-slider .next3{
	position: absolute;
	/* opacity:0; */
	visibility: hidden;
	top: 251%;
	right: 0;
	font-size:3rem;
	color:#000;
	cursor:pointer;
}
}
@media (max-width: 768px){
	.post-slider .next3{
		position: absolute;
	
		top: 262%;
		right: 0;
		font-size:3rem;
		color:#000;
		cursor:pointer;
	}
	}
	@media (max-width: 1260px){
		.post-slider .next3{
			position: absolute;
			top: 262%;
			right: 0;
			font-size:3rem;
			color:#000;
			cursor:pointer;
		}
		}

.post-slider .prev3{
	position: absolute;
	top: 185%;
	left: 30px;
	font-size:3rem;
	color:#000;
	cursor:pointer;
}
@media (max-width: 640px){
.post-slider .prev3{
	position: absolute;
	/* opacity:0; */
	visibility: hidden;
	top: 251%;
	left: 0;
	font-size:3rem;
	color:#000;
	cursor:pointer;
}
}
@media (max-width: 768px){
	.post-slider .prev3{
		position: absolute;
		top: 262%;
		left: 0;
		font-size:3rem;
		color:#000;
		cursor:pointer;
	}
	}
	@media (max-width: 1260px){
		.post-slider .prev3{
			position: absolute;
			top: 262%;
			left: 0;
			font-size:3rem;
			color:#000;
			cursor:pointer;
		}
		}
.post-slider .post-wrapper1{
	width:90%;
	height:350px;
	margin: 0px auto;
	overflow: hidden;
}
.post-slider .post-wrapper1 .post{
	height:350px;
	width:300px;
	margin:0px 10px;
	display:inline-block;
	background: transparent;
}
.post-slider .post-wrapper1 .post .slider-image{
	width:70%;
	height:200px;

}

.post-slider .post-wrapper2{
	width:90%;
	height:350px;
	margin: 0px auto;
	overflow: hidden;
}
.post-slider .post-wrapper2 .post{
	height:350px;
	width:300px;
	margin:0px 10px;
	display:inline-block;
	background: transparent;
}
.post-slider .post-wrapper2 .post .slider-image{
	width:70%;
	height:200px;

}

.post-slider .post-wrapper3{
	width:90%;
	height:350px;
	margin: 0px auto;
	overflow: hidden;
}
.post-slider .post-wrapper3 .post{
	height:350px;
	width:300px;
	margin:0px 10px;
	display:inline-block;
	background: transparent;
}
.post-slider .post-wrapper3 .post .slider-image{
	width:70%;
	height:200px;

}
h1{
	font-family:'Cinzel';
	color:#000;
	font-weight: bold;
	font-size: 3em;
}
.slider-sec a h5 {
  font-size: 0.9em;
}
.slider-sec{
	
	 display: flex;
	 flex-direction: column;
	 background-color: #fff;
	 margin:22px 3%;
	border-bottom:2.5px solid;
	border-top:2.5px solid;
	text-align:center;
	padding-bottom:1.5em;
	 width: 20%;
	 border-radius: 6px;
	 box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
	 overflow: hidden;
	 transition: transform 0.5s;
	 -webkit-transition: transform 0.5s;
}


	.slider-sec:hover {
		cursor: pointer;
		transform: scale(1.1);
		-webkit-transform: scale(1.1);

		
	}
	.slider-image{
		opacity: 1;
	}

	.btn {
		cursor: pointer;
		padding: 0.3em 1em ;
		font-size:100%;
		border-radius: 0.3em;
		border: 2px solid #12e066 ;
		text-transform: uppercase;
		margin: 1rem;
		box-sizing: padding-box;
		position: relative;
		transition: bottom 0.3s ease;
		bottom:0px;
	}
		.btn:hover {
		  bottom: 3px;
		}
		.btn:active {
		  bottom: 0px;
		}
		.btn:focus {
		  outline:none;
		}
		.medium {
			font-size:110%;
		  }

		  .filled {
			border:none;
			color:#fff;
			background: linear-gradient(45deg, #0099CE 0%,  #14F574 100%);
			transition: background 1s ease;
		  }
			.filled:hover {
			  background: linear-gradient(315deg, #0099CE 0%, #14F574 100%);
			}
		  

	  




/* @media (min-width:540px) and (max-width:900px){
	.slider-sec{
		float:left;
		margin:1 2%;
		border-bottom:1.5px solid;
		padding-bottom:1.5em;
		text-align:center;
		position:relative;
	}
} */
.slider-sec a h5{
	color:#282c3f;
	float: inherit;
	font-size:16px;
	line-height: 1;
	font-weight:600;
	margin-bottom:6px;
	
	white-space: nowrap;
	margin-block-start: 0;
	text-transform: capitalize;
	/* text-align: left; */

}
.text{
	color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    /* overflow: hidden; */
    text-overflow: inherit;
    white-space: nowrap;
    font-weight: 400;
    display: block;
	font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	/* margin-bottom: 10px; */
}
span.price{
	font-size: 14px;
    color: #282c3f;
	font-weight: 500;
	line-height: 15px;
	/* margin: 10px 0 6px; */
	margin-top: 2em;
	margin-left: 0.5em;
	margin-right: 1em;
	margin-bottom: 1.5em;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased;
}
.slider-sec a h5 span{
	display:block;
	font-size:16px;
	font-weight:600;
	margin-top:1.35rem;
	float: inherit;
}
.slider-sec img{
	width:100%;
	height: 164px;
	padding: 30px;
	position: relative;
	margin:auto;
	
}
@media (max-width: 640px)
{
.slider-sec img {
    height: 131px;
    padding: 12px;
}
}
/* img{
	max-width: 100%;
	min-width: 120px;
	height:auto;
} */
.slider-sec img.bottle{
	width:50%;
}
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
.side-bar {
    background-color: #F9F9F9;
    height: fit-content;
}
h3.agileits-sear-head {
    color: #F45C5D;
    font-size: 21px;
}
.left-side ul li {
    display: inline-block;
    width: 50%;
	margin-bottom: 6px;
	
}
.left-side ul li span {
    font-size: 13px;
    color: #000;
    letter-spacing: 1px;
    margin-left: 3px;
	vertical-align: top;
	/* border-bottom: 1px solid #e9e9ed;
	border-right: 1px solid #edebef; */
}
.left-side{
	border-bottom: 1px solid #e9e9ed;
	border-right: 1px solid #edebef;
	padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
	/* border-bottom: 1px solid #e9e9ed; */
	position: relative;
}
.left-side ul li span {
	font-size: 12px;
	margin-left: 0px;
}
.w3l-range ul li {
    display: block;
}

.w3l-range ul li a {
    font-size: 14px;
    color: #000;
    letter-spacing: 1px;
}
.join-w3l1 {
    background: url(../images/bg.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    text-align: center;
}
.join-agile {
    background: #efedee;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}
.offer-name {
    margin-top: 4em;
}

.offer-name h6 {
    color: #F44336;
    font-size: 18px;
}

.offer-name h4 {
    font-size: 27px;
}
@media(max-width:1280px){
	.offer-name h6 {
        font-size: 16px;
    }
    .offer-name h4 {
        font-size: 23px;
    }
    .offer-name h4 {
        font-size: 23px;
    }
    .offer-name p {
        font-size: 13px;
    }
    .offer-name {
        margin-top: 3.2em;
    }
}
#back2Top {
	width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 70px;
    right: 0;
    background-color: #DDD;
    color: rgb(229 32 35);
    text-align: center;
    font-size: 30px;
	text-decoration:none;
}


#back2Top:hover {
    /* background-color: #DDF;
	color: #000; */
	cursor: pointer;
  	background-color: #333;
}


