
{% load static %}
{% load socialaccount %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<link href="{% static 'css/login.css' %}" rel='stylesheet' type='text/css' />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>

<html>
  <head>
    <title>Google Registration</title>
  </head>
  <body>
    <div class="modal-dialog text-center">
      <div class="col-sm-8 main-section">
        <div class="modal-content">
          <div class="col-12">
            <form class="box" name="form"  method="post">{% csrf_token %}
              <h1>Login</h1>  
              <input type="text" name="username"  placeholder="Type your Username" >
              <input type="password" name="password" placeholder="Password please">
              <button type="submit">Login</button><hr/>
              <button type="submit">SignUp</button>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  <h1>My Google Login Project</h1>
  {% if user.is_authenticated %}
  <p>Welcome, {{ user}} !</p>
 


  </div>
  {% endif %}

  </body>
</html>