{% load static %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% include "nav.html" %}
<!--/banner-->
<html>
<div class="parts">
	 <div class="container">
    

				{% if not billing_profile %}
				<div class='row text-center'>
					<div class='col-12 col-md-6'>
						<p class='lead'>Login</p> 
						{% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
					</div>
					<div class='col-12 col-md-6'>
						{% url "guest_register" as guest_register_url %}
						{% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
						
					</div>
				</div>
					
				{% else %}
			
				  <h2 class="text-center">Shipping address</h2>
				  <hr class="mb-4">
				<!-- <div class='row'>
				   <div class='col-md-6 mx-auto col-10'> -->
				   {% url "checkout_address_create" as checkout_address_create %}
				   {% include 'addresses/forms.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
				<!-- </div>
			   </div> -->
			   
	
	   
			  
				<!-- </div>
			   </div> -->
			  
			{% endif %}
		 
	 <!-- </div> -->
<!-- </div> -->
</div>
</div> 
<!---->
{% include "footer.html" %}
</html>

